  body {
  font-family: Trebuchet, Arial, Sans-serif;
  font-size: 11px;
  background-color:#f1f1f1;
  color: #444;
  }
  a {
  text-decoration:none;
  color: rgb(53, 89, 117);
  }
  a.circ {
  background-color:rgba(93, 207, 125, 0.48);
  display:inline-block;
  }
  a.circ.negative {
  background-color:rgba(206, 108, 62, 0.48);
  }
  div.circ {
  min-height: 30px
  }
  div.path {
  padding: 5px; margin: 0 0 10px 0; background-color:#ccc;
  font-size:12px;
  }

  div.circ0 {
      float: left;
    width:50%;
    text-align:right;
}

div.circ1 {
      float: left;
    width:50%;
    text-align:left;
}

div.circ0 a.circ {
    opacity: 0.5;
}

div.row {
    padding: 10px 2px;
    clear: left;
}